@model Web.ViewModels.RegisteredHourViewModel

<dialog id="showEditWorkedHours@(Model.Id)" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
                <i class="fa-solid fa-x"></i>
            </button>
        </form>
        <h2 class="font-bold text-lg">Gewerkte uren aanpassen</h2>
        <form asp-controller="WorkedHours" asp-action="Edit">
            <div class="space-y-3">
                <div>
                    <label for="EmployeeId">Medewerker</label>
                    <span>@Model.Employee.FullName</span>
                </div>
                <div class="flex flex-row space-x-4">
                    <div class="flex flex-col space-y-2 w-1/2">
                        <label for="Start">Start</label>
                        <input type="time" id="Start" name="Start" class="input input-bordered" value="@Model.Start.Time()"/>
                    </div>
                    <div class="flex flex-col space-y-2 w-1/2">
                        <label for="End">Eind</label>
                        <input type="time" id="End" name="End" class="input input-bordered " value="@Model.End?.Time()"/>
                    </div>
                </div>
            </div>

            <input type="hidden" asp-for="@Model.Employee.Id" class="input input-bordered" readonly/>
            <input type="hidden" asp-for="@Model.Status" class="input input-bordered" readonly/>
            @Html.Hidden("StartDate_" + Model.Id, Model.Start.ToString("yyyy-MM-dd"))
            @Html.Hidden("EmployeeId_" + Model.Id, Model.Employee.Id)
            <input type="hidden" asp-for="Id" value="@Model.Id" readonly/>
            <div class="modal-action">
                <button type="submit" class="btn btn-primary">Opslaan</button>
            </div>
        </form>
    </div>
</dialog>